{% extends "layout.html" %}

{% block title %}Leadshop | Reset Password {% endblock %}

{% block body_css %}class="hold-transition login-page"{% endblock %}

{% block body_content %}
    <div class="login-box">
        <div class="login-logo">
            <a href="#"><b>Lead</b>shop</a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Forgot Password</p>

            <form method="post">
                {% csrf_token %}
                <div class="form-group has-feedback">
                    <input type="email" class="form-control" placeholder="Email"
                           name={{ form.email.html_name }} required>
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="row">
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Submit</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
        <!-- /.login-box-body -->
    </div>
{% endblock %}
