{% extends "layout_merchant.html" %}

{% block title %}Leadshop | Change Password {% endblock %}

{% block body_css %}class="hold-transition register-page"{% endblock %}

{% block body_content %}

    <div class="register-box">
        <div class="login-logo">
            <a href="#"><b>Lead</b>shop</a>
        </div>

        {% if validlink %}
            <div class="register-box-body">
                <p class="login-box-msg">Change Password</p>

                <form method="post">
                    {% csrf_token %}
                    <div class="form-group has-feedback">
                        <input type="password" class="form-control"
                               placeholder="Password"
                               name={{ form.new_password1.html_name }} required>
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="password" class="form-control" placeholder="Retype password"
                               name={{ form.new_password2.html_name }} required>
                        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                        {% autoescape off %}
                            {{ form.new_password1.help_text }}
                        {% endautoescape %}
                    </div>
                    <div class="row">
                        <!-- /.col -->
                        <div class="col-xs-6">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">Change Password</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
            </div>
        {% else %}
            <p>
                The password reset link was invalid, possibly because it has already been used.
                Please request a new password reset.
            </p>
        {% endif %}
    </div>
{% endblock %}
